@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --bg-gray: #ddd;
    --text-gray: #4a4a4a4a;
    --color-primary: #4D41C0;
    --color-primary2: #1d2440;
    --white: #FFFFFF;
    --text-light-gray: #aaa;
    --star-yellow: #FFBB3A;
    --botton-green: #4b538b;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

html, body{
    background-image: url("https://i.pinimg.com/736x/f1/65/6e/f1656e59ee2dd877040bbc273fda1e1d.jpg");
    background-color: var(--bg-gray);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;     
  }

header{
    background-color: var(--color-primary2);
    color: var(--white);  
    height: 60px;
    display: flex;
    align-items: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1{
    font-size: 24px;
    font-weight: 700;
}

nav a{
    font-size: 12px;
    font-weight: 400;
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

.dsmovie-contact-container {
    display: flex;
    align-items: center;
}

.dsmovie-contact-container img {
    margin-right: 10px;
}

#dsmovie-card-list{
    padding: 0px 10px;
}

.dsmovie-card {
    width: 100%;
}
.row {
    transform: translate(-3.3%);  
}

ul li{
    position:relative;
    display:inline-block;
    margin: 3rem 3rem 3rem 1.1rem;
    border-radius:5px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  ul li:after{
    content:"";
    position:absolute;
    opacity:0;
    border-radius:5px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);  
  }
  
  ul li:hover{
    transform:scale(1.25,1.25);
  }
  
  ul li:hover::after{
    opacity:1;
  }

.dsmovie-card-box-shadow{
    border-radius: 8px 8px 0 0;
    box-shadow:0 1px 2px 0 var(--color-primary2);
}
.dsmovie-card img{
    width: 100%;
    border-radius: 8px 8px 0 0;   
}

.dsmovie-card-description{
    background-color: var(--white);
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 8px 8px;
    height: 190px;
    box-shadow:0 1px 2px 0 var(--color-primary2);
}

.dsmovie-card-description h3 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 1px;
    text-align: center;
}

.dsmovie-card-description-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dsmovie-card-description-bottom h4{
    font-size: 16px;
    font-weight: 700;
    color: var(--star-yellow);
}

.dsmovie-card-description-bottom img{
    width: 22px;
}

.dsmovie-card-description-bottom p{
    font-size: 12px;
    font-weight: 400;
    color: var(--text-light-gray);
    margin-bottom: -5px;
}
.dsmovie-btn, .dsmovie-btn:hover{
    width: 180px;
    height: 40px;
    background-color: var(--color-primary2);
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 0;
}

.dsmovie-btn-b1, .dsmovie-btn-b1:hover{
    width: 200px;
    height: 25px;
    background-color: var(--color-primary2);    
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 0;
}

.dsmovie-btn-b2, .dsmovie-btn-b2:hover{
    width: 200px;
    height: 25px;
    background-color: var(--botton-green);
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 0;
}

.dsmovie-form-btn-container-b1{
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.dsmovie-form-btn-container-b2{
    height: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.dsmovie-btn-sinopse, .dsmovie-btn-sinopse:hover{
    width: 180px;
    height: 40px;
    background-color: var(--color-primary2);
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 0;
}

.dsmovie-form-container{
    padding: 40px 0;
    max-width: 480px;
}

.dsmovie-form-description{
    background-color: var(--white);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 8px 8px;
    box-shadow:0 1px 2px 0 var(--color-primary2);
}

.dsmovie-form{
    width: 100%;
}

.dsmovie-form-description h3{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
}

.dsmovie-form-description p{
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 20px;
}

.dsmovie-form-group{
    margin-bottom: 20px;
}

.dsmovie-form-group label{
    font-size: 12px;
    color: var(--text-light-gray);
}

.dsmovie-form-btn-container{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.dsmovie-form-btn-sinopse-container{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.dsmovie-pagination-container{
    padding: 15px 0;
    display: flex;
    justify-content: center;
}

.dsmovie-pagination-box{
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dsmovie-pagination-box p{
    margin: 0;
    font-size: 12px;
    color: var(--color-primary2);
    font-weight: 400;
}

.dsmovie-pagination-box button{
    width: 40px;
    height: 40px;
    border: 1px solid var(--color-primary2);
    border-radius: 4px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dsmovie-pagination-box button img{
    width: 15px;
    filter: brightness(0) saturate(100%) invert(32%) sepia(33%) saturate(729%) hue-rotate(194deg) brightness(95%) contrast(92%);  
}

.dsmovie-pagination-box button:disabled{
    border: 1px solid var(--text-light-gray);
}

.dsmovie-pagination-box button:disabled img{
    filter: brightness(0) saturate(100%) invert(70%) sepia(19%) saturate(7%) hue-rotate(52deg) brightness(97%) contrast(81%);
}

.dsmovie-flip-horizontal{
    transform: rotate(180deg);
    color: var(--color-primary2);
}

footer{
    background-color: var(--color-primary2);
    color: var(--white);  
    height: 100px;
    display: flex;
    align-items: center;
}

.dsmovie-card video{
    width: 100%;
    border-radius: 8px 8px 0 0;   
    margin: 0;
}